nav{
    display: flex;
    justify-content: space-between;

}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

ul li{
    padding: 10px;
}

ul li a{
    text-decoration: none;
}

.active{
    background-color: aquamarine;
}