<h1>practica1</h1>
<app-welcome></app-welcome>
<hr>
<h1>practical 2</h1>
<p style="color:yellow; padding:10px; background-color:darkgrey" *ngIf="showtext">https://www.bing.com/search?q=w3rdqw3r&cvid=99aea4076ac84a17bd4ec3f450f4a0fe&gs_lcrp=EgRlZGdlKgYIABBFGDkyBggAEEUYOdIBBzc3OWowajeoAgCwAgA&FORM=ANNTA0&PC=U531</p>
<button (click)="toggletext()">Toggletext</button>
<h1>practical 3</h1>
<ul>
    <li *ngFor="let name of names">
        {{name}}
    </li>
</ul>
<hr>
<h1>practical 4</h1>
<input type="text" [(ngModel)]="user_names" placeholder="enter user name">
<h3>{{user_names}}</h3>
<hr>
<h1>practical 5</h1>
<form #companyForm="ngForm" (ngSubmit)="Details(companyForm.value)">
    <input type="text" #employee="ngModel" required placeholder="enter employee name" name="employee" ngModel>
    <span class="error" *ngIf="employee.invalid && employee.touched"> enter minimum 3 digit name</span>

    <br><br>
    <input type="email" #email="ngModel" placeholder="enter email" name="email" email required ngModel>
    <span class="error" *ngIf="email.invalid && email.touched"> enter valid email</span>

    <br><br>
    <input type="password" #password="ngModel" minlength="4" maxlength="8" placeholder="enter password" name="password"
        required ngModel>
    <span class="error" *ngIf="password.invalid && password.touched"> enter valid password</span>

    <br><br>
    <button [disabled]="companyForm.invalid">submit</button>
</form>

<hr>
<h1>practical 6</h1>
<h2>counter</h2>
<div class="one">
    <h2 class="h2">{{count}}</h2>
    <div>
        <button (click)="handleCounter('plus')" class="btn bg-red">Increment</button>
        <button (click)="handleCounter('reset')" class="btn bg-black">Reset</button>
        <button (click)="handleCounter('minus')" class="btn bg-green">Decrement</button>
    </div>

</div>
<hr>
<h1>practical 7</h1>
<h1>To Do List</h1>
<input type="text" [(ngModel)]="task" placeholder="enter task">
<button (click)="addtask()">add task</button>
@for(task of tasklist;track task.id){
<ul style="display:flex; justify-content:space-between;list-style:none;">
    <li>{{task.id}}</li>
    <li>{{task.task}}</li>
    <li><button (click)="deletetask(task.id)">delete</button></li>
</ul>
}
